/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 10px 15px;
}

input,
textarea {
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 1rem;
}

/* Contenedor principal */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navbar fijo en la parte superior */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 991.98px) {
  .navbar-nav {
    padding: 10px 0;
  }

  .navbar-nav .nav-link {
    padding: 10px 15px;
    text-align: center;
    color: #d4d4d4;
  }
}

.logoteatro {
  width: 100px;
}

/* Contenido principal debajo del Navbar */
main {
  flex: 1;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: rgb(226, 226, 226);
}

/* Footer fijo en la parte inferior */
footer {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  z-index: 1000;
}

/* Contenedor general */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Banner */
.banner {
  margin-bottom: 2rem;
}

#showsCarousel {
  max-width: 100%;
  margin: 0 auto;
}

.carousel-item {
  position: relative;
  text-align: center;
}

.banner-image {
  max-width: 100%;
  height: auto;
}

.btn-more-info {
  background-color: #0c4f42;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-more-info:hover {
  background-color: #1b8671;
}

.full-cartelera-container {
  text-align: center;
  margin-top: 20px;
}

.btn-full-cartelera {
  background-color: #0c4f42;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-full-cartelera:hover {
  background-color: #1b8671;
}

.buy-button-next-show {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.carousel-caption h2 {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

.carousel-caption h3 {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

.carousel-caption p {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 1rem;
}

.buy-button {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.buy-button:hover {
  background-color: #0056b3;
}

/* Cartelera */
.cartelera-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.cartelera-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.search-bar {
  width: 60%;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input,
.search-bar select {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  border-radius: 5px;
  height: 42px;
}

.search-bar input {
  flex: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-bar select {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.shows-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: calc(4 * 250px + 3 * 20px);
  margin: 0 auto;
}

.show-card {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.show-image {
  width: 100%;
  height: auto;
  display: block;
}

.show-info {
  padding: 15px;
  text-align: center;
}

.show-info h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.show-info p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
}

.show-info button {
  padding: 10px 15px;
  background-color: #0c4f42;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.show-info button:hover {
  background-color: #1b8671;
}

.show-description {
  white-space: pre-wrap;
  text-align: justify;
}

/* Contacto */
.contacto-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

.contacto-container h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.contacto-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.form-group textarea {
  height: 150px;
  resize: vertical;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #999;
  font-size: 16px;
  font-style: italic;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #0c4f42;
  box-shadow: 0 0 5px rgba(12, 79, 66, 0.2);
}

.contacto-form button {
  padding: 10px 20px;
  background-color: #0c4f42;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contacto-form button:hover {
  background-color: #1d7f6c;
}

/* Admin */
.admin-tep-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  flex-wrap: wrap;
}

.admin-tep-left {
  flex: 0 0 30%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.admin-tep-left h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.admin-tep-left form {
  display: flex;
  flex-direction: column;
}

.admin-tep-left label {
  font-weight: bold;
  margin-bottom: 5px;
}

.admin-tep-left input,
.admin-tep-left textarea {
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.admin-tep-left textarea {
  resize: vertical;
  min-height: 100px;
}

.admin-tep-left button {
  padding: 12px;
  background-color: #0c4f42;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.admin-tep-left button:hover {
  background-color: #1b8671;
}

.admin-tep-right {
  flex: 0 0 67%;
}

.admin-tep-right .center-title {
  text-align: center;
}

.admin-tep-right .shows-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: calc(4 * 250px + 3 * 20px);
  margin: 0 auto;
}

.admin-tep-right .show-card {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.admin-tep-right .show-card button {
  background-color: #0a6d48;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.admin-tep-right .show-card button:hover {
  background-color: #14a06d;
}

/* Show Detail */
.show-detail-container {
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

#show-detail-content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.show-image-container,
.show-info-container,
.show-extra-container {
  flex: 1;
  min-width: 250px;
}

.show-image-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 0 0 auto;
}

.show-image {
  width: 300px;
  height: auto;
  display: block;
  border-radius: 10px;
}

.show-info-container {
  flex: 2;
  text-align: center;
}

.show-info-container h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.show-extra-container {
  flex: 1;
  text-align: left;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.show-extra-container p {
  font-size: 18px;
  margin-bottom: 10px;
}

.buy-button {
  background-color: #0a6d48;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}

.buy-button:hover {
  background-color: #1b8671;
}

.sponsor-card {
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.sponsor-card:hover {
  transform: scale(1.05);
}

.sponsor-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.col-md-3 {
  padding-right: 2.5px;
  padding-left: 2.5px;
}

@media (min-width: 769px) {
  #show-detail-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .show-image-container {
    order: 1;
  }

  .show-info-container {
    order: 2;
  }

  .show-extra-container {
    order: 3;
  }
}

@media (max-width: 768px) {
  #show-detail-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .show-image-container,
  .show-info-container,
  .show-extra-container {
    flex: none;
    width: 100%;
    min-width: 0;
  }

  .show-image-container {
    order: 1;
  }

  .show-info-container {
    order: 2;
  }

  .show-extra-container {
    order: 3;
    text-align: center;
  }

  .show-image {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}

/* Estilos generales */
.historia-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.historia-section {
  margin-bottom: 2rem;
}

.historia-text {
  line-height: 1.6;
  font-size: 1.1rem;
  color: #333;
}

.historia-text h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2c3e50;
}

.historia-text p {
  margin-bottom: 1rem;
}

.historia-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.historia-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .historia-text {
    padding-right: 20px;
  }

  .ubicacion-section .historia-text {
    padding-left: 20px;
  }

  .historia-image-container {
    padding: 0;
  }
}

@media (max-width: 767.98px) {
  .historia-text,
  .historia-image-container {
    margin-bottom: 1.5rem;
  }

  .ubicacion-section .historia-text {
    padding-left: 0;
  }

  .historia-section {
    flex-direction: column;
  }
}

/* Palier */
.palier-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.custom-spacer {
  margin-top: 30px;
}

.palier-container h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2c3e50;
}

.palier-container h2 {
  font-size: 2rem;
  color: #333;
}

.palier-container h3 {
  font-size: 1.5rem;
  color: #666;
}

.palier-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.palier-item {
  display: flex;
  justify-content: center;
}

.palier-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  height: 400px; /* Altura fija para pantallas grandes */
}

.palier-gif-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.palier-gif {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que el GIF cubra toda la altura */
  display: block;
}

.palier-desc {
  padding: 15px;
  font-size: 1rem;
  color: #333;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Permite scroll si el texto es largo */
}

.palier-desc h3 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 10px;
}

.btn-palier-desc {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0c4f42;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-palier-desc:hover {
  background-color: #1b8671;
}

.palier-desc-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: auto; /* Permite scroll en el overlay */
}

.btn-close-desc {
  background-color: #0c4f42;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.btn-close-desc:hover {
  background-color: #1b8671;
}

@media (min-width: 992px) {
  .palier-grid {
    justify-content: space-between; /* Asegura que las cards se distribuyan uniformemente */
  }

  .palier-item {
    flex: 0 0 calc(50% - 10px); /* 2 columnas con espacio para el gap */
  }

  .palier-card {
    display: flex;
    flex-direction: row-reverse; /* GIF a la derecha, descripci칩n a la izquierda */
  }

  .palier-gif-container {
    flex: 0 0 50%; /* GIF ocupa el 50% del ancho */
  }

  .palier-desc {
    flex: 0 0 50%; /* Descripci칩n ocupa el 50% del ancho */
    flex-direction: column; /* Asegura que el texto se apile */
    justify-content: flex-start; /* Alinea el contenido desde arriba */
    align-items: flex-start; /* Alinea el texto a la izquierda */
    overflow-y: scroll; /* Siempre muestra scrollbar */
    scrollbar-width: auto; /* Estilo de scrollbar para Firefox */
    scrollbar-color: #888 #f4f4f4; /* Color de scrollbar para Firefox */
  }

  /* Estilo de scrollbar para Chrome, Edge, Safari */
  .palier-desc::-webkit-scrollbar {
    width: 12px;
  }

  .palier-desc::-webkit-scrollbar-track {
    background: #f4f4f4;
  }

  .palier-desc::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
    border: 3px solid #f4f4f4;
  }

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: flex;
  }
}

@media (max-width: 991.98px) {
  .palier-grid {
    justify-content: center; /* Centra las cards horizontalmente */
    align-items: center; /* Centra las cards verticalmente en la grilla */
    min-height: 70vh; /* Asegura que la grilla tenga al menos 70vh para centrar */
  }

  .palier-item {
    display: flex;
    justify-content: center;
    align-items: center; /* Centra la card dentro del item */
    width: 100%; /* Asegura que el item ocupe todo el ancho disponible */
    max-width: 500px; /* Limita el ancho m치ximo para mejor legibilidad */
    margin: 0 auto; /* Centra horizontalmente */
  }

  .palier-card {
    display: flex;
    flex-direction: column;
    height: 70vh; /* 70% del alto de la pantalla en m칩viles */
    width: 100%; /* Asegura que la card ocupe el ancho del item */
  }

  .palier-gif-container {
    flex: 1; /* Ocupa todo el espacio disponible */
  }

  .palier-desc {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }
}

@media (max-width: 768px) {
  .palier-container h1 {
    font-size: 2rem;
  }

  .palier-container h2 {
    font-size: 1.5rem;
  }

  .palier-container h3 {
    font-size: 1.2rem;
  }

  .btn-palier-desc {
    font-size: 0.9rem;
    padding: 6px 10px;
  }

  .btn-close-desc {
    font-size: 0.9rem;
    padding: 6px 10px;
  }

  .palier-desc-overlay p {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .carousel-caption {
    display: block !important;
    padding: 0.5rem;
  }

  .carousel-caption h2 {
    font-size: 1.2rem;
  }

  .carousel-caption h3 {
    font-size: 1rem;
  }

  .carousel-caption p {
    font-size: 0.9rem;
  }

  .buy-button {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }

  .btn-more-info {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }

  .btn-full-cartelera {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }

  .banner-image {
    max-width: 60%;
    height: auto;
    margin: 0 auto;
  }
}

/* Footer */
footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

footer .social-icons a {
  color: white;
  font-size: 24px;
  transition: color 0.3s ease;
}

footer .social-icons a:hover {
  color: #00aced;
}

/* Newsletter */
.newsletter {
  text-align: center;
  padding: 20px;
}

.newsletter form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.campo {
  padding: 8px;
  width: 200px;
}

.boton {
  padding: 8px 16px;
  background-color: #0c4f42;
  color: white;
  border: none;
  cursor: pointer;
}

.boton:hover {
  background-color: #1b8671;
}

.sponsor-img {
  max-width: 150px;
}

/* Media Queries para Responsividad */
@media (max-width: 992px) {
  .banner {
    width: 90%;
  }

  .banner-info {
    font-size: 0.9rem;
    padding: 8px;
  }

  .banner-image {
    max-width: 100%;
    height: auto;
  }

  .admin-tep-container {
    flex-direction: column;
    gap: 20px;
  }

  .admin-tep-left,
  .admin-tep-right {
    flex: 1;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .logoteatro {
    width: 70px;
  }

  main {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .banner {
    width: 100%;
  }

  .banner-info {
    font-size: 0.8rem;
    padding: 5px;
  }

  .banner-info h2 {
    font-size: 1.2rem;
  }

  .banner-info p {
    font-size: 0.9rem;
  }

  .search-bar {
    width: 100%;
    flex-direction: column;
  }

  .search-bar input,
  .search-bar select {
    width: 100%;
    margin-bottom: 10px;
  }

  .shows-container {
    gap: 15px;
  }

  .show-card {
    width: 100%;
    max-width: 300px;
  }

  .contacto-container {
    padding: 15px;
  }

  .form-group input,
  .form-group textarea {
    font-size: 0.9rem;
  }

  .show-detail-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .show-image-container {
    order: 1;
  }

  .show-info-container {
    order: 2;
  }

  .show-extra-container {
    order: 3;
    text-align: center;
  }

  .show-image {
    width: 100%;
    height: auto;
  }

  .historia-container {
    flex-direction: column;
    align-items: center;
  }

  .historia-image-container {
    width: 100%;
    margin-top: 20px;
  }

  .historia-image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .historia-content h2 {
    font-size: 24px;
  }

  .historia-content p {
    font-size: 14px;
  }

  .newsletter form {
    flex-direction: column;
    align-items: center;
  }

  .campo {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
  }

  .boton {
    width: 100%;
    max-width: 300px;
  }

  button {
    padding: 12px 20px;
  }
}